.footer {
  background-color: #141414;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20vh;

  &_icons {
    margin-bottom: 10px;
  }

  &_instaIcon {
    margin-left: 25px;
    &:hover {
      cursor: pointer;
    }
  }
  &_fbIcon:hover {
    cursor: pointer;
  }
  &_copyrights {
    font-size: 12px;
  }
}

@media (orientation: portrait) and (max-width: 550px) {
  .footer {
    &_address {
      font-size: 15px;
    }
    &_copyrights {
      font-size: 9px;
    }
  }
}
