.footer {
  background-color: #141414;
  text-align: center;
  height: 20vh;
  color: white;

  &_logo {
    transform: translateX(-1%);
  }

  &_address {
    font-size: 20px;
    transform: translateY(-250%);
  }
  &_copyrights {
    font-size: 12px;
  }
}
