.shop {
  display: flex;
  margin: 0 auto;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.product {
  &_details {
    flex: 1 1 20rem;
    height: 47rem;
    padding: 1rem;
    margin: 30px 50px;
    flex-shrink: 0;
  }
  &_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    max-width: 22rem;
  }

  &_image {
    max-width: 30rem;
    height: 37rem;
    transition: transform 0.3s ease;
  }
  &_image:hover {
    transform: scale(1.1);
  }
  &_description {
    text-align: left;
  }
  &_bottom {
    display: flex;
    justify-content: space-between;
  }
  &_price {
    text-align: left;
  }
  &_button {
    width: 39%;
  }
}
